

.header{
  background-color: #282c34;
  padding: 10px;
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 65px;
}

.nav-items{
  margin-right: 20px;
  color: white;
}
.nav-items > ul{
  display: flex;
  gap: 40px;
}

.nav-items > ul > li{
  list-style: none;
}   

.res-logo{
  width: 200px;
}

.res-card{
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  height: 400px;
  width: 200px;
}

.res-card:hover{
  border: 1px solid black;
  cursor: pointer;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
}
.res-card > img{
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.filter-container{
  display: flex;
  
}

.filter-btn{
  background-color: #ffffff;
  color: rgb(19, 18, 18);
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin : 15px 10px 0 10px;
  /* margin-left:10px; */
  cursor: pointer;
  height: 30px;
  width: 80px;
}

.filter-btn:hover{
  background-color: #c5d1e5;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  height: 400px;
  width: 200px;
}

.nav-items{
  cursor: pointer;
}

.menu-item{
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  width: 1400px;
  height: 140px;
}

.menu-page{
  border: 1px solid #ccc;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 30px;
}

.menu-heading {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.menu-container{
  margin-left: 30px;
}

.menu-item{
  height: 100px;
  width: 1200px;
  padding: 10px !important;
}

.menu-category{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left:150px
}

.search-box{
  margin: 10px 20px 0 0;
  width: 600px;
  height: 40px;
  border-radius: 5px;
}

.search-btn{

  width: 80px;
  height: 35px;
  border-radius: 5px;
  background:#ba92dd;
}